@use '../helpers/' as h;

.l-footer {
  min-height: 223px;
  background-color: #ffb4bb;
  display: flex;
  align-items: center;
  padding: 50px 0;
  margin-top: auto;

  .c-nav__icon {
    color: #fff;
  }
}

.l-footer__pc {
  width: 90%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0 auto;

  @include h.responsive(xl) {
    flex-direction: row;
  }
}

.l-footer__sp {
  display: none;

  @include h.responsive(xs) {
    display: none;
  }
}
