@use '../setting' as s;
@use '../helpers' as h;

html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  font-family: s.$fontFamily;
  // font-weight: 500;
  font-size: h.rem(16);
  color: s.$primaryColor;
  display: flex;
  flex-direction: column;
  color: #1d1d1d;
}

pre {
  white-space: revert;
}

p{
  letter-spacing: .1em;
}