.c-admin__table {
  margin-bottom: 8em;

  th,
  td {
    padding: 0.5em;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    min-width: 90px;
  }

  th:last-child {
    border-right: 0;
  }

  td:last-child {
    border-right: 0;
  }
}

.c-admin__btn {
  display: block;
  text-align: center;
  padding: 0.25em 0;

  &--update {
    background-color: rgb(127, 247, 91);
  }
  &--delete {
    background-color: rgb(247, 109, 91);
  }

  &:hover {
    opacity: 0.75;
  }
}
