@use '../setting/'as s;
@use '../helpers/'as h;

.c-btn {
  display: inline-block;
  padding: 0.7em 5em;
  text-align: center;
}

.c-btn--primary {
  min-width: 160px;
  height: 50px;
  font-size: h.rem(16);
  color: hsl(0, 0%, 100%);
  background-color: s.$accentColor;
  border-radius: 99em;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  color: #fff;
  letter-spacing: 0.1em;
  text-align: center;
}

.c-btn--primary--big {
  font-size: h.rem(24);
}

.c-btn__viewmore {
  flex-basis: 100%;
  text-align: center;

  button {
    width: 160px;
    height: 50px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.1em;
    border-radius: 99px;
    background-color: #ff7c7c;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
}

.c-btn__plusminus {
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  background: #ff7c7c;
  border-radius: 999px;
  cursor: pointer;
  user-select: none;
}

.c-btn__addToCart {
  width: 100%;
  height: 55px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-radius: 8px;
  background: #ff7c7c;
}

.c-btn__submit {
  text-align: center;

  button {
    width: 300px;
    height: 55px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
    background: #ff7c7c;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
}

.c-btn__plusminus {
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  background: #ff7c7c;
  border-radius: 999px;
}

.c-btn__addToCart {
  width: 100%;
  height: 55px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-radius: 8px;
  background: #ff7c7c;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.c-btn__submit {
  text-align: center;

  button {
    width: 300px;
    height: 55px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
    background: #ff7c7c;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
}

button {
  transition: .3s;
  &:active {
    box-shadow: none;
  }
}

.c-btn__update {
  display: inline-block;
  width: 60px;
  height: 100%;
  text-align: center;
  border-radius: 8px;
  color: #fff;
  background: #7098cf;
}
