@use '../setting/' as s;
@use '../helpers/' as h;

.c-completion {
  .c-itemList__buttons {
    flex-wrap: wrap;
  }
}

.c-completion__text {
  font-size: 22px;
  color: #ff7272;
  text-align: center;
}

.c-completion__id {
  font-size: 16px;
  text-align: center;
}

.c-completion__purchased {
  width: 90%;
  margin: 40px auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 0;
}

.c-itemList__amount {
  width: 80%;
  margin: 40px auto;
  text-align: right;

  p:first-child {
    font-size: 22px;

    span {
      color: #ff7272;
      margin-left: 20px;
    }
  }
}

.c-completion__recommend {
  margin: 80px auto;
}

.c-completion__recommendList {
  width: 90%;
  margin: 80px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 0;
}

.c-completion__recommendList {
  margin-bottom: 40px;
}

.c-completion__recommendTxt {
  font-size: h.rem(20);
  text-align: center;
}
