@use '../helpers' as h;

.c-confirmation {
  padding: 0 0 120px;
}

.c-confirmation__list {
  width: 95%;
  // height: 800px;
  // padding: 0 24px 12px 0;
  margin-top: 30px;
  margin-inline: auto;
  // margin: 80px auto 0;
  overflow-y: auto;
  border-bottom: 1px solid #1d1d1d;

  @include h.responsive(lg) {
    width: 70%;
  }
}

.c-confirmation__listContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5%;
  // justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px dotted #8e8e8e;

  &:first-of-type {
    border-top: 1px dotted #8e8e8e;
  }

  & > div {
    display: flex;
    // gap: 40px;
  }
}

.c-confirmation__breakdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.c-confirmation__image {
  --length: 120px;
  width: var(--length);
  height: var(--length);
  flex-shrink: 0;
  border: 1px solid #8e8e8e;
  // border-radius: 8px;
  object-fit: cover;

  @include h.responsive(md) {
    --length: 200px;
  }
}

.c-confirmation__itemInfo {
  width: 100%;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c-confirmation__worksTitle {
  color: #ababab;
  font-size: 13px;
}

.c-confirmation__itemName {
  font-weight: 500;
  font-size: 18px;
}

.c-confirmation__subtotal {
  color: #ff7c7c;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.05em;
  // margin-left: auto;
}

.c-confirmation__delete {
  width: 100px;
  height: 35px;
  color: #fff;
  text-align: center;
  background: #e2e2e2;
  border-radius: 8px;
  background: #eb4545;
  margin-top: 24px;
}

.c-confirmation__amount {
  width: 95%;
  font-size: 22px;
  font-weight: 500;
  text-align: right;
  margin: 20px auto 80px;

  @include h.responsive(lg) {
    width: 70%;
  }

  & > span {
    color: #ff7c7c;
    padding-left: 28px;
  }
}
