@use '../setting/'as s;
@use '../helpers/'as h;

.c-category {
  margin: 40px auto 0;
}

.c-category {
  margin: 40px auto 0;
}

.c-category_title {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.c-category_container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px 0;
  margin: 24px auto 0;
}

.c-category_list {
  width: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;

  @include h.responsive(sm) {
    width: 50%;
  }

  @include h.responsive(md) {
    width: 33%;
  }

  @include h.responsive(xl) {
    width: 20%;
  }

  @include h.responsive(xxl) {
    width: 16.65%;
  }

  button {
    box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
    transition: .3s;

    &:active {
      box-shadow: none;
    }
  }
}

.c-category_worksList {
  width: 50%;
  display: flex;
  justify-content: center;

  @include h.responsive(sm) {
    width: 50%;
  }

  @include h.responsive(md) {
    width: 33%;
  }

  @include h.responsive(xl) {
    width: 20%;
  }

  @include h.responsive(xxl) {
    width: 16.65%;
  }
}

.c-category_button {
  width: 170px;
  height: 55px;
  text-align: center;
  font-size: 13px;
  line-height: 55px;
  background: #ff7c7c;
  border-radius: 99px;
  color: #fff;
  letter-spacing: 0.1em;

  @include h.responsive(sm) {
    width: 150px;
    height: 55px;
    line-height: 55px;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.c-category_worksButton {
  width: 170px;
  height: 55px;
  text-align: center;
  font-size: 13px;
  line-height: 55px;
  background: #ff7c7c;
  border-radius: 99px;
  color: #fff;
  letter-spacing: 0.1em;

  @include h.responsive(sm) {
    width: 180px;
    height: 55px;
    line-height: 55px;
    font-size: 13px;
    display: block;
  }
}