@use '../setting/' as s;
@use '../helpers/' as h;

.c-form__wrapper {
  width: min(90%, 600px);
  margin: 0 auto;
  padding: 5em 1em;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 10px 20px #d6d6d6;
  margin-bottom: 50px;

  @include h.responsive(sm) {
    padding: 5em 7em;
  }

  .c-btn {
    margin-top: 1rem;
  }
}

.c-form__headding {
  font-size: clamp(#{h.rem(20)}, -0.1364rem + 4.8485vw, #{h.rem(30)});
  text-align: center;
  color: s.$accentColor;
  font-weight: 750;
  margin-bottom: 0.5em;
}

.c-form__content {
  margin-bottom: 2em;
}

.c-form__label {
  display: block;
}

.c-form__input {
  width: 100%;
  border: 1px solid hsl(0, 0%, 56%);
  border-radius: 5px;
  padding: calc((24px - 1rem) / 2);
}

.c-form__required {
  font-size: h.rem(12);
  color: s.$accentColor;
}

.c-form__error {
  color: hsl(0, 95%, 59%);
}
