@use '../helpers/' as h;

.c-footer__logo {
  width: 250px;
}

.c-footer__menu {
  display: none;
  color: #fff;

  @include h.responsive(xl) {
    display: flex;
    gap: 20px;
  }
}

.c-footer__menuTitle {
  margin-bottom: 24px;
}

.c-footer__menuList {

  li {
    color: #fff;
  }

  @include h.responsive(lg) {
    width: 200px;
    display: flex;
    flex-direction: column;

    li {
      color: #fff;
    }
  }

  @include h.responsive(xl) {
    width: 200px;
    flex-direction: column;

    li {
      color: #fff;
    }
  }

  @include h.responsive(xxl) {
    width: 400px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px 0;

    li {
      width: 45%;
      color: #fff;
    }
  }


  .c-footer__list {
    column-count: 2;
    column-fill: auto;
    column-gap: 20px;

    &>li {
      color: #fff;
      line-height: 35px;
    }
  }

  .c-footer__sns {
    width: 200px;
  }
}