@use '../setting/' as s;
@use '../helpers/' as h;

.c-goodsDetail__wrapper {
  margin: 40px auto 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px 0;

  @include h.responsive(xl) {
    width: 1100px;
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.c-goodsDetail__infomation {
  width: 90%;

  @include h.responsive(sm) {
    width: 420px;
  }
}

.c-goodsDetail__image {
  width: 100%;
  height: 500px;
  // background: rgb(211, 211, 211);

  @include h.responsive(sm) {
    width: 550px;
  }

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.c-goodsDetail__imageList {
  margin-top: 12px;
  display: flex;
  gap: 24px;

  li {
    width: 70px;
    height: 70px;
    background: rgb(190, 190, 190);

    img {
      object-fit: cover;
    }
  }
}

.c-goodsDetail__title {
  font-size: 25px;
}

.c-goodsDetail__feature {
  margin-top: 16px;

  p {
    // white-space: pre-wrap;
  }
}

.c-goodsDetail__smallInfo {
  font-size: 14px;
  font-weight: normal;
  margin-top: 30px;
}

.c-goodsDetail__priceArea {
  width: 300px;
  text-align: end;
  margin: 30px 0 20px auto;
}

.c-goodsDetail__price {
  font-size: 20px;
}

.c-goodsDetail__quantity {
  font-size: 18px;
  margin-top: 8px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;

  & p {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    input {
      width: 50%;
    }
  }
}

.c-goodsDetail__btnArea {
  display: flex;
  gap: 6px;
}

.c-goodsDetail__subtotal {
  font-size: 21px;
  margin-top: 24px;
}
