@use '../setting/'as s;
@use '../helpers/'as h;

.c-humberger {
  position: relative;
  z-index: 100;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;

  @include h.responsive(xl) {
    display: none;
  }
}

/*ボタン内側*/
.c-humberger span {
  display: inline-block;
  transition: all .4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 10px;
  height: 3px;
  border-radius: 2px;
  background: #FF7C7C;
  width: 65%;
}

.c-humberger span:nth-of-type(1) {
  top: 15px;
}

.c-humberger span:nth-of-type(2) {
  top: 25px;
}

.c-humberger span:nth-of-type(3) {
  top: 35px;
}

/*activeクラスが付与されると線が回転して×に*/

.c-humberger.active span {
  background-color: #fff;
}

.c-humberger.active span:nth-of-type(1) {
  top: 18px;
  left: 10px;
  transform: translateY(6px) rotate(-45deg);
  width: 65%;
}

.c-humberger.active span:nth-of-type(2) {
  opacity: 0;
  /*真ん中の線は透過*/
}

.c-humberger.active span:nth-of-type(3) {
  top: 30px;
  left: 10px;
  transform: translateY(-6px) rotate(45deg);
  width: 65%;
}

.c-humberger__wrapper {
  width: 100vw;
  height: 100vh;
  background: #FF7C7C;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;

  &.active {
    display: block;
  }
}

.c-humberger__container {
  margin: 120px 80px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.c-humberger__searchBy {
  gap: 40px;
  margin-top: 80px;
  color: #fff;
  display: flex;
  flex-direction: column;

  // @include h.responsive(lg) {
  //   flex-direction: row;
  //   margin-top: 80px;
  //   gap: 40px;
  // }
}

.c-humberger__searchButton {
  font-size: 26px;
  display: flex;
  gap: 20px;
  align-items: center;

  &::after {
    content: ('');
    width: 18px;
    height: 20px;
    margin-left: 8px;
    display: inline-block;
    background: url(../images/arrow_icon_w.svg) no-repeat;
    background-size: cover;
    vertical-align: middle;
  }
}

.c-humberger__searchByListContainer {
  max-width: 500px;
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  flex-wrap: wrap;

  @include h.responsive(sm) {
    flex-direction: row;
  }
}

.c-humberger__searchByList {
  width: auto;
  display: flex;
  align-items: center;

  @include h.responsive(sm) {
    width: 50%;
    flex-direction: row;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 2px;
    background-color: #fff;
    margin-right: 6px;
    border-radius: 99px;
  }
}