@use '../helpers' as h;
.inCartContents {
  .c-itemList__buttons {
    flex-wrap: wrap;
  }
}

.c-inCartContents__list {
  width: 80%;
  margin: 60px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 3%;

  @include h.responsive(xxl, max) {
    grid-template-columns: 1fr 1fr;
  }

  @include h.responsive(lg, max) {
    width: 95%;
    grid-template-columns: 1fr;
  }
}

.c-inCartContents__contents {
  display: flex;
  gap: 3%;

  img {
    --length: 120px;
    flex-shrink: 0;
    width: 100%;
    max-width: var(--length);
    height: var(--length);
    // border: 1px solid #000;
    object-fit: cover;

    @include h.responsive(md) {
      --length: 200px;
    }
  }
}

.c-inCartContents__contentInfo {
  width: 100%;
}

.c-inCartContents__title {
  font-size: 18px;
}

.c-inCartContents__price {
  font-size: 15px;
  margin-top: 12px;
}

.c-inCartContents__editQuantity {
  // width: 200px;
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

.c-inCartContents__quantity {
  width: 55px;
  font-size: 18px;
  border: 1px solid #000;
  padding: 3px 6px;
}

.c-inCartContents__subtotal {
  font-size: 20px;
  margin-top: 18px;
  letter-spacing: 0.1em;
}

.c-inCartContents__delete {
  width: min(100%, 150px);
  height: 35px;
  color: #fff;
  text-align: center;
  background: #eb4545;
  border-radius: 8px;
  margin-top: 30px;
}

.c-inCartContents__oderButton {
  width: 300px;
  height: 55px;
  color: #fff;
  text-align: center;
  line-height: 55px;
  background: #ff7c7c;
  border-radius: 8px;
  margin: 80px auto;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.c-inCartContents__editQuantity {
  display: flex;
}
