@use '../helpers' as h;

.c-inputArea {
  width: 80%;
  margin: 10px auto 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  cursor: default;

  & > p {
    width: 40%;
    font-size: 18px;

    @include h.responsive(lg, max) {
      width: 100%;
    }
  }

  .c-inputArea__inputField {
    width: 60%;
  }
}
.c-inputArea__cashCard {
  width: 80%;
  margin: 20px 0 40px 50px;

  // display: flex;
  // flex-wrap: wrap;
  // align-items: flex-end;
  cursor: default;

  & > label {
    display: block;
    margin-bottom: 1em;
    @include h.responsive(sm) {
      display: flex;
      align-items: center;
      gap: 3%;
    }

    & > p {
      min-width: 90px;
    }
  }

  & > p {
    width: 25%;
    font-size: 18px;

    @include h.responsive(lg, max) {
      width: 100%;
    }
  }

  // .c-inputArea__inputField {
  //   width: 75%;
  // }
}

.c-inputArea__inputField {
  color: #8f8f8f;
  margin-bottom: 16px;
  @include h.responsive(lg) {
    margin-bottom: 0;
  }

  input {
    height: 30px;
    border: 1px solid #8f8f8f;
    border-radius: 5px;
    cursor: text;
    padding: 0 6px;
    color: #1d1d1d;
  }

  &:nth-of-type(n + 2) {
    @include h.responsive(lg) {
      margin-top: 16px;
    }
  }
}

.c-inputArea__name {
  display: flex;
  gap: 12px;

  p {
    font-size: 14px;
  }
}

.c-inputArea__seimei {
  width: min(100%, 150px);
}

.c-inputArea__tel {
  width: min(100%, 300px);
}

.c-inputArea__zipcode {
  width: min(100%, 50px);
}

.c-inputArea__exp {
  width: min(100%, 50px);
}

.c-inputArea__prefectures {
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  padding: 5px 8px;
}

.c-inputArea__adress {
  width: min(100%, 400px);
}

.c-inputArea__cardName {
  width: min(100%, 450px);
}

.c-inputArea__cardId {
  width: 80px;
}

.c-inputArea__cvc {
  width: 50px;
}
