@use '../helpers/'as h;

.c-itemListWrapper{
  margin-top: 120px;
  padding: 40px 0 120px;
  background-color: #F4F4F4;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16) inset;

  @include h.responsive(sm) {
    padding: 40px 0px 120px;
  }
}
.c-itemListWrapper__anime{
  padding-bottom: 120px;

  @include h.responsive(sm) {
    padding-bottom: 120px;
  }
}