.c-item {
  width: 300px;
  margin: 0 auto;

  &.is-hidden {
    opacity: 0;
    display: none;
  }
}

.c-item__image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 6px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.3s;
    object-fit: cover;

    &:hover {
      transform: scale(1.05);
    }
  }

  &.c-item__commic {
    height: 425px;
  }
}

.c-item__worksName {
  color: #888;
  font-size: 13px;
}

.c-item__plice {
  color: #ff7c7c;
  font-size: 20px;
  margin: 4px 0 0;
}
