@use '../setting/' as s;
@use '../helpers/' as h;

.c-itemList {
  margin-top: 120px;
}

.c-itemList__Vgoods {
  padding: 120px 0;
  background: #f4f4f4;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16) inset;
}

.c-itemList__panel {
  width: 100%;
  display: none;
}

.c-itemList__title {
  text-align: center;
  font-size: 20px;
}

.c-itemList__listContainer {
  width: 90%;
  margin: 40px auto 80px;
  display: flex;
  gap: 40px 0;
  flex-wrap: wrap;

  @include h.responsive(sm) {
  }
}

.c-itemList__list {
  width: 100%;

  @include h.responsive(sm) {
    width: 100%;
  }
  @include h.responsive(md) {
    width: 50%;
  }
  @include h.responsive(xl) {
    width: 33%;
  }
  @include h.responsive(xxl) {
    width: 25%;
  }
}

.c-itemList__buttons {
  display: flex;
  gap: 40px;
  justify-content: center;
}
