@use '../setting/'as s;
@use '../helpers/'as h;

.c-mypage {
  width: 90%;
  margin: 0 auto 80px;
}

.c-mypage__logout {
  display: flex;
  gap: 12px;
  justify-content: flex-end;

  button {
    font-weight: normal;
    font-style: 14px;
  }
}

.c-mypage__title {
  font-size: 22px;
  text-align: center;
  margin-top: 12px;
}

.c-mypage__section {
  margin-top: 100px;
}

.c-mypage__sectionTitle {
  font-size: 20px;
  text-align: center;
}

.c-mypage__listContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 0;
}

.c-mypage__list {
  width: 100%;
  margin-top: 20px;

  @include h.responsive(sm) {
    width: 100%;
  }

  @include h.responsive(md) {
    width: 50%;
  }

  @include h.responsive(xl) {
    width: 33%;
  }

  @include h.responsive(xxl) {
    width: 25%;
  }
}

.c-mypage__userInfoEditContainer {
  margin-top: 120px;
}

.c-mypage__editList {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @include h.responsive(md) {
    flex-direction: row;
  }
}

.c-mypage__editButton {
  background: #888;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  letter-spacing: .1em;

}