.c-news {
  width: 80%;
  margin: 120px auto 0;
}

.c-news__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 12px;
}

.c-news__newsList {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-top: 12px;

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
