@use '../setting/' as s;
@use '../helpers/' as h;

.c-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  display: none;

  @include h.responsive(xl) {
    display: flex;
  }
}

.c-nav__serch {
  display: flex;
}

.c-nav__searchButton {
  font-weight: 500;
  padding: 12px;

  &::after {
    content: ('');
    width: 15px;
    height: 13px;
    margin-left: 8px;
    display: inline-block;
    background: url(../images/arrow_icon.svg) no-repeat;
    background-size: cover;
    vertical-align: middle;
  }
}

.c-nav__linkIcon {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.c-nav__linkIcon_humberger {
  width: 230px;
  display: flex;
  justify-content: space-between;
}

.c-nav__icon {
  p {
    font-size: 14px;
    font-weight: 500;
    &::before {
      content: '';
      width: 40px;
      height: 40px;
      display: block;
      margin: 0 auto 3px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.c-nav__icon-w {
  p {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    &::before {
      content: '';
      width: 42px;
      height: 42px;
      display: block;
      margin: 0 auto 3px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.c-nav__topIcon {
  p {
    &::before {
      background-image: url(../images/top_icon.svg);
    }
  }
}

.c-nav__mypageIcon {
  p {
    &::before {
      background-image: url(../images/mypage_icon.svg);
    }
  }
}

.c-nav__cartIcon {
  p {
    &::before {
      background-image: url(../images/cart_icon.svg);
    }
  }
}

.c-nav__loginIcon {
  p {
    &::before {
      background-image: url(../images/login_icon.svg);
    }
  }
}

.c-nav__registIcon {
  p {
    &::before {
      background-image: url(../images/regist_icon.svg);
    }
  }
}

.c-nav__adminIcon {
  p {
    &::before {
      background-image: url(../images/admin_icon.svg);
    }
  }
}

.c-nav__topIcon-w {
  p {
    &::before {
      background-image: url(../images/top_icon_w.svg);
    }
  }
}

.c-nav__mypageIcon-w {
  p {
    &::before {
      background-image: url(../images/mypage_icon_w.svg);
    }
  }
}

.c-nav__cartIcon-w {
  p {
    &::before {
      background-image: url(../images/cart_icon_w.svg);
    }
  }
}

.c-nav__loginIcon-w {
  p {
    &::before {
      background-image: url(../images/login_icon_w.svg);
    }
  }
}

.c-nav__registIcon-w {
  p {
    &::before {
      background-image: url(../images/regist_icon_w.svg);
    }
  }
}

.c-nav__adminIcon-w {
  p {
    &::before {
      background-image: url(../images/admin_icon_w.svg);
    }
  }
}
