@use '../setting/' as s;

.c-pagination {
  display: flex;
  justify-content: center;
}

.c-pagination__item.active {
  background-color: s.$accentColor;
  color: #fff;
}

.c-pagination__link {
  display: block;
  padding: 1em;

  &:hover {
    background-color: s.$accentColor;
    color: #fff;
  }
}
