@use '../helpers' as h;

.c-sortableGoodsList {
  width: 100%;
  margin-top: 140px;
  padding: 80px 0;
  background-color: #f4f4f4;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16) inset;

  input[type='radio'] {
    display: none;
  }
}

.c-sortableGoodsList__title {
  font-size: 24px;
  text-align: center;
}

.c-sortableGoodsList__sortList {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 10px;
  margin: 24px auto 0;

  @include h.responsive(sm) {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
}

.c-sortableGoodsList__button {
  width: 100%;
  height: 55px;
  line-height: 55px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  margin: 0 auto;
  border-radius: 99px;
  background-color: #ff7c7c;
  cursor: pointer;
  justify-content: center;
  letter-spacing: 0.1em;
}

$i: 1;
$length: 12;
@while $i <= $length {
  #cat#{$i}:checked {
    ~ .c-sortableGoodsList__sortList #cat#{$i}_label {
      background-color: black;
    }
    ~ .c-itemList__listContainer #panel#{$i} {
      display: flex;
      flex-wrap: wrap;
    }
  }
  $i: $i + 1;
}
