@use '../setting/'as s;
@use '../helpers/'as h;

.swiper-pagination {
  position: static !important;
  margin-top: 12px;
}

.swiper-button-prev {
  left: 55px !important;
  top: 50% !important;
}

.swiper-button-next {
  right: 55px !important;
  top: 50% !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
  z-index: 0;

  &::after {
    color: #ff7c7c;
  }

  @include h.responsive(lg) {
    display: block !important;
  }
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
  background: #ff7c7c !important;
}