@use '../helpers/' as h;

.c-searchBar {
  border: 1px solid #e2e2e2;
  border-radius: 99px;
  padding: 5px 8px 5px 12px;
  display: flex;
  align-items: center;
  display: none;

  box-shadow: 0 2px 3px rgba($color: #000000, $alpha: 0.16);

  @include h.responsive(md) {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }
}

.c-searchBar__button {
  cursor: pointer;
}

.c-searchBar__form {
  width: 250px;
  font-size: 18px;
  height: 20px;
}
