@use '../helpers/'as h;

.c-slider {
  width: 90%;
  height: 500px;
  background: #888;
  margin: 0 auto;

  @include h.responsive(lg) {
    width: 80%;
  }
}

.c-siler__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}