@use '../helpers' as h;
.c-selectArea {
  width: 95%;
  margin: 0 auto 80px;

  @include h.responsive(lg) {
    width: 60%;
  }
}

.c-selectArea__container {
  margin-top: 30px;
}

.c-selectArea__list {
  border: 1px solid #707070;
  cursor: pointer;

  & > label {
    padding: 16px 24px;
    display: flex;
    gap: 20px;
    align-items: center;

    @include h.responsive(md, max) {
      gap: 3%;
    }

    > .c-selectArea__button {
      flex-basis: 30px;
      flex-shrink: 0;
    }

    > .c-selectArea__button + div {
      flex-basis: 100%;
    }
  }

  &:nth-of-type(n + 2) {
    margin-top: -1px;
  }
}

.c-selectArea__radio {
  display: none;

  &:checked + .c-selectArea__button {
    button {
      background: #ff7c7c;
    }
  }
}

.c-selectArea__button {
  width: 30px;
  height: 30px;
  border: 1px solid #707070;
  border-radius: 99px;
  position: relative;

  button {
    width: 22px;
    height: 22px;
    background: #ffffff;
    border-radius: 99px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.c-selectArea__areaName {
  font-size: 18px;

  span {
    // margin-left: 18px;
    font-size: 16px;
  }
}
