@use '../helpers/'as h;

.c-snsList {
  display: flex;
  gap: 24px;
  flex-direction: column;

  @include h.responsive(sm) {
    flex-direction: row;
  }

  @include h.responsive(xl) {
    flex-direction: column;
  }
}

.c-snsList_homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  background-color: #FF3939;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.c-snsList_twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  background-color: #1D9BF0;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

  &::before {
    content: '';
    display: inline-block;
    width: 26px;
    height: 21px;
    margin-right: 15px;
    background: url('../images/twitter_logo.png') no-repeat;
    background-size: cover;
    vertical-align: middle;
  }
}