@use '../helpers/' as h;

.c-worksIntroduction {
  // margin-top: 80px;
  display: flex;
  gap: 110px;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @include h.responsive(xl) {
    align-items: flex-start;
    flex-direction: row;
  }
}

.c-worksIntroduction__container {
  @include h.responsive(xl) {
    width: 845px;
  }
}

.c-worksIntroduction__about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;

  img {
    width: 550px;
    // height: 400px;
    margin: 0 auto;
    background-color: #a7a7a7;
    border-radius: 3px;
    object-fit: contain;

    @include h.responsive(xl) {
      width: 450px;
      height: 300px;
      margin: 0;
      object-fit: cover;
    }
  }

  @include h.responsive(xl) {
    width: 87%;
    flex-direction: row;
    margin: auto;
  }
}

.c-worksIntroduction__title {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-top: 35px;

  @include h.responsive(xl) {
    margin-top: 0px;
    flex-direction: row;
    text-align: left;
  }
}

.c-worksIntroduction__detail {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin-top: 16px;

  @include h.responsive(xl) {
    margin-top: 50px;
    display: block;
    text-align: left;
  }
}

.c-worksIntroduction__summaryContainer {
  margin: 40px auto 0;
  width: 80%;

  @include h.responsive(xl) {
    margin: 40px 0 0;
    width: 100%;
    position: relative;
  }
}

.c-worksIntroduction__summaryTitle {
  font-size: 17px;
  font-weight: bold;
  border-bottom: 3px solid #ff7c7c;
  padding-bottom: 3px;
  margin-bottom: 14px;
}

.c-worksIntroduction__summary {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.08em;
}
